<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<title>Store_Setup_Product</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosection">	    	
			    <a href="#"><img src="assets/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" id="wizard">
					
									<form action="" id="form1" method="POST" enctype="multipart/form-data"></form>
		                    	<div class="wizard-header">
		                        	<h4 class="wizard-title" style="text-align:center;font-weight:600" id="bottomspace">Welcome to Cadenza 	Setup</h4>
		                    	</div>
								<div class="wizard-navigation">
									<div class="progress-with-circle">
									    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
									</div>
									<ul>
			                            <li class="active">
			                            	<div class="productone">
			                            		<div class="producticon">
				                            		<img src="assets/img/store_setup/barcode-product-wt.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#" id="productlink">
												<div class="icon-circle">
													<!-- <i class="ti-map"></i> -->
												</div>
												Product
											</a>
										</li>
			                            <li>
			                            	<div id="basketone">
			                            		<div class="basketicon">
				                            		<img src="assets/img/store_setup/picnic.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="baskettwo">
			                            		<div class="baskettwoicon">
				                            		<img src="assets/img/store_setup/picnic-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>

											<a href="#"  id="basketlink">
												<div class="icon-circle">
													<!-- <i class="ti-direction-alt"></i> -->
												</div>
												Basket
											</a>
										</li>
			                            <li>
			                            	<div id="planone">
			                            		<div class="planicon">
				                            		<img src="assets/img/store_setup/strategy.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="plantwo">
			                            		<div class="plantwoicon">
				                            		<img src="assets/img/store_setup/strategy-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#" id="planlink">
												<div class="icon-circle">
													<!-- <i class="ti-panel"></i> -->
												</div>
												Plan
											</a>
										</li>
			                            <li>
			                            	<div id="paymentone">
			                            		<div class="basketicon">
				                            		<img src="assets/img/store_setup/credit-card.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="paymenttwo">
			                            		<div class="baskettwoicon">
				                            		<img src="assets/img/store_setup/credit-card-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#" id="paymentlink">
												<div class="icon-circle">
													<!-- <i class="ti-comments"></i> -->
												</div>
												Payment
											</a>
										</li>
			                        </ul>
								</div>
		                        <div class="tab-content">
		                            <!-- PRODCT STARTED HERE -->
		                            <div class="tab-pane active" id="product">
		                            	<div class="row">
		                                	<div class="col-sm-12">
		                                    	<div class="wizard-header">
						                        	<h4 class="wizard-title" style="text-align:center;">Setup your first Product </h4>
						                        	<p class="category">These details are visible to your consumers</p>
						                    	</div>
		                            		</div>
											<div class="col-sm-12">
												<div class="col-sm-3">
													<!-- <h5 class="info-text"> Please tell us more about yourself.</h5> -->
														<div class="col-sm-12">
															<div class="picture-container">
																<div class="picture">
																	<img src="assets/img/default-avatar.jpg" class="picture-src" id="wizardPicturePreview" title="" />
																	<input type="file" id="wizard-picture" name="image">
																</div>
																<h6>Choose Picture</h6>
															</div>
														</div>
												</div>
												<div class="col-sm-5">
														<div class="form-group">
																<input type="hidden" class="form-control" id="token" value="" name="token">
																<input type="hidden" class="form-control" id="collectionType" value="product" name="collectionType">
														</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
									                    	<input type="text" class="form-control" id="title" placeholder="Product Name" name="title" required>
									                	</div>
													</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
									                    	<input type="text" class="form-control" id="description" placeholder="Product Description" name="description" required>
									                	</div>
													</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
									                    	<input type="text" class="form-control" id="collectionId" value="<%=SKU%>" placeholder="Product SKU" name="collectionId" readonly>
									                	</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
									                    	<input type="text" class="form-control" id="costPrice" placeholder="Cost Prise" name="costPrice" >
									                	</div>
													</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
									                    	<input type="text" class="form-control" id="price" placeholder="Retail Price" name="price" required>
									                	</div>
													</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
									                    	<input type="text" class="form-control" id="salePrice" placeholder="Sale Price" name="salePrice">
									                	</div>
													</div>
												</div>

												
												<div class="col-sm-6 col-sm-offset-3">
													<div class="col-sm-8">
														<div class="choice" data-toggle="wizard-checkbox">
															<div class="form-group">
										                    	<input type="text" class="form-control" id="subPrice" placeholder="Subscription Price" name="subPrice" required>
										                	</div>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="choice" data-toggle="wizard-checkbox">
															<div class="form-group">
																<div class="tooltipinfo"> 
																	<a class="toolindexproduct">?</a>
																	<div class="toolinfo">Stuff shown on hoverStuff shown on hoverStuff shown on hove Stuff shown on hover</div>
																 </div>
															</div>
														</div>
													</div>
				
												</div>
												<div class="col-sm-6 col-sm-offset-3">
														<div class="col-sm-8">
															<div class="choice" data-toggle="wizard-checkbox">
																	<div class="form-group" style="width:500px;">
																			<input type="text" class="form-control" id="productUrl" readonly>
																	</div>
															</div>
														</div>
												</div>
											</div>		                                	
		                            	</div>
		                            </div>
		                            <!-- PRODCT END HERE -->
		                        </div>

		                        <div class="wizard-footer" id="prenextlinksid">
		                        	<div class="prenextlinks">
										<div class="previouslink"><a href="/store_setup">Back</a></div>
										<div class="pull-right">
											<input type='submit' id="post_product" class='btn btn-next btn-fill btn-success btn-wd' value='Next' />
										  </div>
									</div>
									
								</div>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->
	</div>
</form>

<!-- MOdal starts here -->  
<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Your Product is successfully added</h4>
			</div>
			<div class="modal-body" id="model_body">
			</div>
			<div class="modal-footer">
			  <button type="button" id="singleProducts" class="btn btn-default" data-dismiss="modal">close</button>
			</div>
		  </div>
		</div>
	</div>
	<!-- Modal ends here -->
</body>

	<!--   Core JS Files   -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

	<script>
		$(document).ready(function(){
			var token=window.localStorage.getItem('token');
			var storeName=window.localStorage.getItem('storeName');
			//var token=currentUser.token;
			console.log("token"+ token);
			//alert(token);
			$("#token").val(token);				
			//$("#basketone").show();
			$("#baskettwo").hide();

			//$("#planone").show();
			$("#plantwo").hide();	

			//$("#paymentone").show();
			$("#paymenttwo").hide();
		
			var nameField = document.getElementById('title');
			var lastNameValue = undefined;

			updateNameDisplay();

			setInterval(updateNameDisplay, 100);

			function updateNameDisplay() {
			var thisValue = nameField.value || "??";
			//console.log("suma: "+ thisValue);
			if (lastNameValue != thisValue) {
				//console.log("suma1: "+ thisValue);
				//document.getElementById('productUrl').innerHTML = lastNameValue = thisValue;
				$("#productUrl").val("https://"+storeName+".cadenza.tech/product/"+$("#collectionId").val());
			}
			}
		});
	</script>
	<script type="text/javascript">

	$(document).ready(function(){
		$("#post_product").click(function(e){
			e.preventDefault();
			var token=window.localStorage.getItem('token');
			var file=document.getElementById("wizard-picture").files[0];
			var collectionId=document.getElementById("collectionId").value;
			var description=document.getElementById("description").value;
			var price =document.getElementById("price").value;
			var title=document.getElementById("title").value;

			formdata = new FormData(); 
			formdata.append("token",token);
			formdata.append("image",file);
			formdata.append("collectionId",collectionId);
			formdata.append("description",description);
			formdata.append("price",price);
			formdata.append("title",title);
			console.log("suma:"+ formdata);
			$.ajax({
			url:'http://ec2-13-127-109-51.ap-south-1.compute.amazonaws.com:8084/api/products/addproduct',
			method: 'POST',
			data:formdata,
			processData: false, 
			contentType: false,
			success:function(data){
				//console.log(JSON.stringify(data));
				var tab = "";
					tab+='<p>Would you like to add one more Product?</p>';
					tab+='<div class="pull-right">';
					tab+='<button type="button"  class="btn btn-default text-center yes">Yes</button>';
					tab+='</div>';
					tab+='<div class="pull-left">';
					tab += '<button type="button"  class="btn btn-default text-center no">No</button>';
					tab+='</div>';
					$('#model_body').html(tab);
					$('#myModal').modal('show');

			},
			error:function(jqXHR, textStatus, errorThrown){
              		alert('error: ' + textStatus + ': ' + errorThrown);
              console.log(errorThrown);
              }
			});
		})
	});

	$(document).ready(function(e){
        	$(document).on('click','.yes', addProduct);
		});
		function addProduct(){
			$('#myModal').modal('hide');
			//var storeName=window.localStorage.getItem('storeName');
			window.location="/product";

		}
		$(document).ready(function(e){
			$(document).on('click','.no', next);
		});
		function next(){
			$('#myModal').modal('hide');
			var storeName=window.localStorage.getItem('storeName');
			window.location="/basket?storeName="+storeName;
		}

	
	</script>
	

</html>
